/* Estilos para la página de proyectos */

.pageContainer {
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}

.mainContent {
  position: relative;
  min-height: 100vh;
}

/* Estilos para imágenes de fondo */
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.primaryBg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.65;
  z-index: 1;
}

.patternBg {
  background-repeat: repeat;
  background-size: auto;
  z-index: 1;
}

.headerBgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
}

/* Contenido principal */
.contentContainer {
  position: relative;
  z-index: 3;
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Navegación de badges */
.badgesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  right: 4%;
  height: 100vh;
}

.navButton {
  position: absolute;
  right: 39%;
  background: none;
  border: none;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 4;
}

.upButton {
  top: 35%;
  margin-bottom: 8px;
}

.downButton {
  bottom: 35%;
  margin-top: 8px;
}

/* Panel de información del proyecto */
.projectInfoPanel {
  position: absolute;
  top: 25%;
  left: 16%;
  max-width: 30%;
  min-width: 30%;
  rotate: -10deg 0 0;
  padding: 2rem 1.5rem ;
  transform: translateX(-50%);
  border-radius: 4rem;
  text-align: center;
  z-index: 5;
  background-color: rgba(0, 0, 0);
}

.projectTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #6CFF0D;
}

.projectDescription {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #ddd;
}

.mediumHR {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border: none;
}

.bigHR{
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    margin: 0.6rem 0;
    border: none;
}

.projectTech {
  font-size: 1.2rem;
  color: #ccc;
  margin-top: 0.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

/* Footer */
.footer {
  background-color: black;
  text-align: center;
  padding: 1rem 0;
}

.footerDisclaimer {
  font-size: 0.8em;
  color: #888;
}
