/* Estilos específicos para el componente Persona5Container */

.persona5-title {
  font-family: "p5hatty";
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-shadow: 0 0 20px rgba(230, 0, 18, 0.5);
}

.persona5-subtitle {
  font-family: "p5hatty";
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 1px black;
}

.persona5-black-container {
  background-color: black;
  z-index: 1;
}

.persona5-red-container {
  background-color: #E60012;
  z-index: 0;
}

.persona5-text-container {
  z-index: 10;
}